<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>app.methods.ServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ProcessaAutenticacao</servlet-name>
        <servlet-class>app.servlets.ProcessaAutenticacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessaRole</servlet-name>
        <servlet-class>app.servlets.ProcessaRole</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessaAutenticacao</servlet-name>
        <url-pattern>/ProcessaAutenticacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessaRole</servlet-name>
        <url-pattern>/ProcessaRole</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
