<!DOCTYPE html>
<html>
    <head>
        <title>footer</title>

        <link rel="icon" type="icon/png" href="../img/ucm.png" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="../css/layouts/grids-responsive-min.css">
        <!--<![endif]-->

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="../css/layouts/marketing.css">
        <!--<![endif]-->


    </head>
    <body>

    <div style="background-color: #444;
          text-align: center;
          position: relative;
          width: 100%;
          color: #999;
          margin: 0 auto; 
          font-family: sans-serif;
          bottom: 0;
          position: fixed;
          ">
        <p>Faculdade de Gestão de Turismo e Informática
            Av. 25 de Setembro, 725 C.P. 336

        <span>Email :<a href="mailto:fgti@ucm.ac.mz" style="color: whitesmoke;">
                fgti@ucm.ac.mz</a></span></p>            
    </div>

</body>
</html>